<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/main.css" />

    <script>
      window.onload = () => {
        if (new URL(location.href).searchParams.get("loginError")) {
          alert(new URL(location.href).searchParams.get("loginError"));
        }
      };
    </script>
  </head>
  <body>
    <div class="container">
      <%- include("./header.ejs") %>
      <div><%- include("./pages.ejs") %></div>
      <main>
        <% if(user && user.id) { %>
        <div><%- include("./welcome.ejs") %></div>
        <% } else {%>
        <div><%- include("./login.ejs")%></div>
        <% } %>
      </main>
      <%- contents %> <%- include("./footer.ejs") %>
    </div>
  </body>
</html>
