<%- contentFor("scripts") %>
<!-- scripts 들어갈 내용(layout 에다가) -->
<% if (user && user.id===post.author.id) {%>
<script>
  window.onload = () => {
    let update_cancel = document.getElementById("btn-update");
    let delete_complete = document.getElementById("btn-delete");

    let title = document.getElementById("title");
    let content = document.getElementById("content");

    let isUpdate = false;

    update_cancel.onclick = (e) => {
      if (!isUpdate) {
        // 수정 버튼
        let inputTitle = document.createElement("input");
        inputTitle.setAttribute("name", "title");
        inputTitle.setAttribute("type", "text");
        inputTitle.setAttribute("value", title.textContent.trim());
        inputTitle.onchange = (e) => {
          // console.log(e.target.value);    // 바뀐 문자열
          inputTitle.setAttribute("value", e.target.value);
        };
        inputTitle.required = true;
        inputTitle.autofocus = true;

        let inputContent = document.createElement("input");
        inputContent.setAttribute("name", "content");
        inputContent.setAttribute("type", "text");
        inputContent.setAttribute("value", content.textContent.trim());
        inputContent.onchange = (e) => {
          // console.log(e.target.value);    // 바뀐 문자열
          inputContent.setAttribute("value", e.target.value);
        };

        title.textContent = "";
        title.append(inputTitle);

        content.textContent = "";
        content.append(inputContent);

        update_cancel.textContent = "취소";
        delete_complete.textContent = "완료";

        isUpdate = true;
      } else {
        // 취소 버튼
        location.reload();
      }
    };
    delete_complete.onclick = async (e) => {
      if (!isUpdate) {
        // 삭제 버튼
        if (confirm("삭제하시겠습니까?")) {
          await axios.delete(location.href);
          location.href = "/page/board";
        }
      } else {
        // 완료 버튼
        // console.log(`url = ${location.href}`);
        await axios.patch(location.href, {
          title: title.firstElementChild.getAttribute("value"),
          content: content.firstElementChild.getAttribute("value"),
        });
        location.reload();
      }
    };
  };
</script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<% } %> <% if(user && user.id !== post.author.id) { %> <%-
include("./layouts/send.ejs") %> <% } %><%- include("./layouts/hashtag.ejs")
%><%- contentFor("contents") %>
<!-- contents로 들어갈 내용(layout 에다가) -->
<table>
  <tbody>
    <tr>
      <td>제목:</td>
      <td id="title" style="text-align: left"><%= post.title %></td>
    </tr>
    <tr>
      <td>내용:</td>
      <td id="content" style="text-align: left"><%= post.content %></td>
    </tr>
    <tr>
      <td>작성자:</td>
      <td style="text-align: left">
        <% if(user && user.id !== post.author.id) { %>
        <a
          id="receiver"
          href="javascript: send()"
          style="text-decoration: none"
        >
          <%= post.author.nickname %>
        </a>
        <% } else { %> <%= post.author.nickname %> <% } %>
      </td>
    </tr>
    <% if(user && user.id !== post.author.id) { %>
    <form action="/msg" method="post">
      <tr>
        <td colspan="2">
          <input
            type="text"
            name="receiver"
            value="<%= post.author.id %>"
            style="display: none"
          />
          <input
            type="text"
            name="currentUrl"
            value="<%= `/board/${post._id}` %>"
            style="display: none"
          />
          <input
            id="msg-content"
            type="text"
            name="content"
            placeholder="메시지 내용"
            style="display: none"
          />
          <input
            id="msg-submit"
            type="submit"
            value="보내기"
            style="display: none"
          />
        </td>
      </tr>
    </form>
    <% } %>
    <tr>
      <td>작성일:</td>
      <td style="text-align: left"><%= post.createdAt.toISOString() %></td>
    </tr>
    <tr>
      <form name="hashtags" action="/page" method="get">
        <td>해시태그:</td>
        <td style="text-align: left">
          <% for(index in post.hashtags) { %>
          <a
            id="hashtag<%= index %>"
            href="javascript:search(<%= index %>)"
            style="text-decoration: none"
          >
            <%= post.hashtags[index] %>
          </a>
          <% }%>
        </td>
      </form>
    </tr>
    <% if(user && user.id===post.author.id) {%>
    <tr>
      <td colspan="2">
        <button id="btn-update">수정</button>
        <button id="btn-delete">삭제</button>
      </td>
      <% } %>
    </tr>
    <tr>
      <td colspan="2">
        <a href="/page/board">목록</a>
      </td>
    </tr>
  </tbody>
</table>
