<%- contentFor("scripts") %>
<!-- scripts 들어갈 내용(layout 에다가) -->

<%- contentFor("contents") %>
<!-- contents로 들어갈 내용(layout 에다가) -->
<%- include("./layouts/search.ejs") %>
<div class="post-form">
  <% if(user && user.id){ %>
  <form id="board-form" action="/post/board" method="post">
    <input type="text" name="title" placeholder="제목" required autofocus />
    <br />
    <textarea
      name="content"
      cols="50px"
      maxlength="140"
      placeholder="내용"
      required
      autofocus
    ></textarea>
    <br />
    <textarea
      name="hashtag"
      cols="25px"
      maxlength="140"
      placeholder="해시태그"
    ></textarea>
    <br />
    <button type="submit">올리기</button>
  </form>
  <% } %>
</div>
<table>
  <thead>
    <tr>
      <th>번호</th>
      <th>제목</th>
      <th>작성자</th>
      <th>날짜</th>
    </tr>
  </thead>
  <tbody>
    <% for(index in posts) { %>
    <tr>
      <td><%= posts.length-index %></td>
      <td>
        <a href="/page/board/<%= posts[index].id %>"
          ><%= posts[index].title %></a
        >
      </td>
      <td><%= posts[index].author.nickname %></td>
      <td><%= posts[index].createdAt.toISOString()%></td>
    </tr>
    <% } %>
  </tbody>
</table>
