<%- contentFor("scripts") %>
<!-- scripts 들어갈 내용(layout 에다가) -->
<% if (user && user.id===post.author.id) {%>
<script>
  window.onload = () => {
    let update_cancel = document.getElementById("btn-update");
    let delete_complete = document.getElementById("btn-delete");

    let title = document.getElementById("title");
    let content = document.getElementById("content");

    let isUpdate = false;

    update_cancel.onclick = (e) => {
      if (!isUpdate) {
        // 수정 버튼
        let inputTitle = document.createElement("input");
        inputTitle.setAttribute("name", "title");
        inputTitle.setAttribute("type", "text");
        inputTitle.setAttribute("value", title.textContent.trim());
        inputTitle.onchange = (e) => {
          // console.log(e.target.value);    // 바뀐 문자열
          inputTitle.setAttribute("value", e.target.value);
        };
        inputTitle.required = true;
        inputTitle.autofocus = true;

        let inputContent = document.createElement("input");
        inputContent.setAttribute("name", "content");
        inputContent.setAttribute("type", "text");
        inputContent.setAttribute("value", content.textContent.trim());
        inputContent.onchange = (e) => {
          // console.log(e.target.value);    // 바뀐 문자열
          inputContent.setAttribute("value", e.target.value);
        };

        title.textContent = "";
        title.append(inputTitle);

        content.textContent = "";
        content.append(inputContent);

        update_cancel.textContent = "취소";
        delete_complete.textContent = "완료";

        isUpdate = true;
      } else {
        // 취소 버튼
        location.reload();
      }
    };
    delete_complete.onclick = async (e) => {
      if (!isUpdate) {
        // 삭제 버튼
        if (confirm("삭제하시겠습니까?")) {
          await axios.delete(location.href);
          location.href = "/page/gallery";
        }
      } else {
        // 완료 버튼
        // console.log(`url = ${location.href}`);
        await axios.patch(location.href, {
          content: content.firstElementChild.getAttribute("src"),
        });
        location.reload();
      }
    };
  };
</script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<% } %> <%- contentFor("contents") %>
<!-- contents로 들어갈 내용(layout 에다가) -->
<table>
  <tbody>
    <tr>
      <td>그림:</td>
    </tr>
    <tr>
      <td>
        <img
          id="content"
          src="<%= post.content %>"
          width="250px"
          height="250px"
          style="text-align: left"
        />
      </td>
    </tr>
    <tr>
      <td style="text-align: left"><%=`작성자: ${post.author.nickname}`%></td>
    </tr>
      <td style="text-align: left"><%=`작성일: ${post.createdAt.toISOString()}` %></td>
    </tr>
    <% if(user && user.id===post.author.id) {%>
    <tr>
      <td>
        <button id="btn-update">수정</button>
        <button id="btn-delete">삭제</button>
      </td>
      <% } %>
    </tr>
    <tr>
      <td>
        <a href="/page/gallery">목록</a>
      </td>
    </tr>
  </tbody>
</table>
